* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: "poppins", sans-serif;
    /* min-height: 2000px; */
  }
  
  .navbar {
    display: flex;
    padding: 15px;
    background-color: rgba(49, 49, 50);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
  }
  
  .navbar .logo-pdw {
    height: 100px;
    position: absolute;
    bottom: 5px;
    left: 35px;
    top: 5px;
  }
  
  .navbar .logo a {
    font-family: "poppins", "sans-serif";
    font-size: 35px;
    font-weight: 700;
    color: white;
    display: flex;
  }
  
  .navbar .logo {
    padding-left: 110px;
    line-height: 35px;
  }
  
  .navbar .logo :hover {
    color: rgb(249, 110, 42);
  }
  
  .navbar .navbar-nav a {
    color: white;
    font-family: "open sans";
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    margin: 0 1rem;
  }
  
  .navbar .navbar-nav {
    padding-left: 400px;
    margin: 20px;
  }
  
  .navbar .navbar-nav :hover {
    color: rgb(249, 110, 42);
  }
  
  /* navbar sampe sini */

  /* card section */

  .card{
    min-height: 100vh;
    color: rgb(246, 232, 221);
    text-align: center;
    font-weight: bold;
  }

  .card-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 130px;
  }

  .card-item-1{
    text-align: center;
    color: rgb(25, 53, 100);;
  }

  .card-item-1 img{
    object-fit: fill;
    border-radius: 10px;
    height: 250px;
    width: 420px;
  }

  .card-section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
  }
  .card-item-2{
    text-align: center;
    color: rgb(25, 53, 100);;
  }

  .card-item-2 img{
    object-fit: fill;
    border-radius: 10px;
    height: 250px;
    width: 420px;
  }

  .card-section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
  }
  .card-item-3{
    text-align: center;
    color: rgb(25, 53, 100);;
  }

  .card-item-3 img{
    object-fit: fill;
    border-radius: 10px;
    height: 250px;
    width: 420px;
  }



  
   /* footer section */
  footer {
    min-height: 15vh;
    background-color: rgb(9, 9, 4);
    padding-left: 510px;
  }
  
  .credit {
    color: white;
    font-family: "inter";
    font-weight: lighter;
    padding-top: 5px;
  }
  footer .links a {
    font-size: 20px;
    color: white;
  }
  
  footer .links :hover {
    color: rgb(249, 110, 42);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  footer .links {
    color: white;
    font-size: 20px;
  }
  
